* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
  font-size: 1.2rem;
}

.container {
  max-width: 96rem;

  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
}

.image-nav {
  height: 1.8rem;
}

.main-nav {
  gap: 1.6rem;
  background-color: #33404f;
  display: flex;
  padding: 0.8rem 4rem;
  align-items: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.main-nav-list {
  display: inline-block;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  width: 14rem;
}

ul li:not(:last-child) {
  border: 1px solid #33404f;
  border-right: 1px solid #000000;
}

.section {
  padding: 4rem 10rem;
  max-width: 91rem;
  margin: 0 auto;
}

.paragraph {
  line-height: 1.3;
}

.middle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50rem;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.image {
  width: 13.6rem;
}

.links {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  justify-content: center;
  background-color: #b5db76;
  padding: 1rem 5rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  text-decoration: none;
  color: #555;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.3;
}

.info {
  padding-left: 4rem;
}

.margin {
  margin-bottom: 2rem;
}

.info-link {
  color: #333;
}

.footer-links {
  display: flex;
  gap: 1rem;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: end;
}
